.dark-mode {
  background: black;
  color: white;
}

.App {
  height: 100%;
}

input {
  position: sticky;
  bottom: 0;
  width: -webkit-fill-available;
  font-size: large;
  height: 22px;
  border-radius: 16px;
  padding: 12px;
  margin-top: 32px;
}
